*{
  margin: 20px;
}
.banner{
    display: flex;
    padding: 100px 80px;
    justify-content: space-between;
    background-color: #C6E4D6;
    border-radius: 24px;
}
.banner-tittle{
font-weight: 500px;
font-size: 24px;
color: rgba(14, 14, 14, 0.5);
}
.open-sans{
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
  .banner-content{
    font-weight: bold;
    font-size: 56px;
  }
  .btn-primary{
    font-weight: 500;
    font-size: 18px;
    color:#FFFFFF ;
    background-color: #006A50;
    border-radius: 8px;
    padding: 17px 34px;
  }
  .section-skill{
    background-color: #F5F5F5;
    padding: 100px 80px;
  }
  .skill-container{
    display: flex;
    gap: 24px;
  }
  .section-tittle{
    font-weight: bold;
    font-size: 40px;
    color: #0E0E0E;
  }
  .section-discription{
font-weight: 400;
font-size: 16;
color: #0E0E0E;
  }
  .skill1{
    padding: 32px;
    border-radius: 16px;
    background-color: rgba(84, 144, 245, 0.2);
  }
  .skill2{
    padding: 32px;
    border-radius: 16px;
    background-color: rgba(198, 228, 214, 1);
  }
  .skill3{
    padding: 32px;
    border-radius: 16px;
    background-color: rgba(247, 235, 207, 1);
  }
  .skill-tittle{
    font-weight: bold;
    font-size: 20px;
    color: #0E0E0E;
  }
  .skill-discription{
    font-weight: 400;
    font-size: 16px;
    color: #0E0E0E;

  }
  .skill-bttn1{
    padding: 11px 20px;
    background-color: rgba(84, 144, 245, 1);
border-radius: 8px;
color: rgba(255, 255, 255, 1);
font-size: 16;
font-weight: 500;
  }
  .skill-bttn2{
    padding: 11px 20px;
    background-color: rgba(9, 161, 92, 1);
border-radius: 8px;
color:  rgba(255, 255, 255, 1);
font-size: 16;
font-weight: 500;
  }
  .skill-bttn3{
    padding: 11px 20px;
    background-color: rgba(255, 194, 57, 1);
border-radius: 8px;
color:  rgba(255, 255, 255, 1);
font-size: 16;
font-weight: 500;
  }
  .news-section{
background-color: rgba(245, 245, 245, 1);
padding: 16px;
margin-top: 24px;
  }
  .news-sec-tittle{
font-weight: 700;
font-size: 40px;
color: rgba(14, 14, 14, 1);
  }
  .news-sec-dis{
  font-weight: 400;
  font: 16px;
  color: rgba(14, 14, 14, 0.7);
  }
.card-1{
display: flex;
background-color: rgba(255, 255, 255, 1);
padding: 48px;
border-radius: 24px;
gap: 32px;
}
.card-img{
  border-radius: 24px;
}
.nwes-headline{
  font-weight: 700;
  font-size: 32;
}
.news-content{
  font-weight: 400;
  font-size: 16px;
  color: rgba(14, 14, 14, 0.7);
}
.news-btn{
  font-weight: 600;
  font-size: 18px;
  color: rgba(255, 255, 255, 1);
  padding: 13px 26px;
  background-color: rgba(0, 106, 80, 1);
  border-radius: 8px;
}
.card-2{
  display: flex;
background-color: rgba(255, 255, 255, 1);
padding: 48px;
border-radius: 24px;
gap: 32px;
margin-top: 24px;
}
.dnt-sec{
  background-color: rgba(245, 245, 245, 1);
  padding: 108.5px;
  gap: 32px;
}
.dont-tittle{
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  color: rgba(14, 14, 14, 1);

}
.dnt-subtittle{
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  color: rgba(14, 14, 14, 0.7);
}
.dnt-card-container{
  display: flex;
  justify-content: space-evenly;
  padding: 40px;
  gap: 24px;
  margin-top: 32px;
}
.ins-card-text{
  font-size: 20px;
  font-weight: bold;
  padding: 30px;
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 1);
  color: rgba(14, 14, 14, 0.8);
}
.card-color{
  background-color: rgba(198, 228, 214, 1);
}
.dnt-sec input[type="text"]{
  display: flex;
  width: 100%;
  padding: 20px;
  background-color: rgba(255, 255, 255, 1);
  text-align: center;
  font-size: 24px;
  margin-top: 24px;

}
.placeholder{
  color: rgba(14, 14, 14, 0.3);
}
.dnt-btn{
  top: 50%;
  left: 50%;
  padding: 17px 34px;
  border-radius: 8px;
  background-color: rgba(0, 106, 80, 1);
  font-size: 600;
  font-size: 18px;
  color: rgba(255, 255, 255, 1);
}
.btn-center{
 display: flex;
 justify-content: center;
}